@use "../utilities/mixins" as *;

.container {
  --container-width: 1110px;
  --container-padding: 1rem;

  width: min(var(--container-width), 100%);
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  margin-inline: auto;
}

@for $i from 1 through 5 {
  .py-#{$i} {
    @include padding-y($i * 0.5rem);
  }
}

@for $i from 1 through 5 {
  .p-#{$i} {
    @include padding($i * 0.5rem);
  }
}

.grid {
  display: grid;
}

.flex {
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(center);
  gap: 2rem;
}
