* {
  margin: 0;
  padding: 0;
}

*::after,
*::before,
* {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  height: 100vh;

  font-family: "Barlow Condensed", sans-serif;
}

%header-style {
  font-weight: 500;
  font-family: "Bellefair";
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %header-style;
}

h1 {
  font-size: 150px;
  color: var(--white-color);
}

h2 {
  font-size: 100px;
  color: var(--white-color);
}

h3 {
  font-size: 56px;
  color: var(--white-color);
}

h4 {
  font-size: 32px;
  color: var(--white-color);
}

h5 {
  font-size: 28px;
  color: var(--gray-color);
  letter-spacing: 4.75px;
}
